.landing-page{
    background-color: #082032;
    position: absolute;
    height: 100vh;
    width: 100%;
    color: #FF4C29;
}

.tha-btn-containter{
    /* border: 1px solid white; */
    margin: 5vh 10vw;
    padding: 1.5rem 2rem;
    min-height: 70vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.tha-button {
    background-color: #FF4C29;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.tha-button:hover{
    opacity: 1;
}

